﻿<!--This is the View of the "Index()" Action found in HomeController-->
<!--Because this is the View of an Action from the Controller called HomeController, it is under /Views/Home, where /Home is name of Controller where this View is returned from-->
<!--this View page will run first according tp default route-->





@{
    <!--do not apply any layout for this page-->

    Layout = null;
}
<!DOCTYPE html>
<html>



<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">
    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width = device-width,
 initial-scale = 1" />
    <title>NP Book Rentals</title>
    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/css/Site.css">
</head>
<body>
    <div class="container" id="mainContainer">

        <!-- 1st row -->
        <div class="flex-container">
            <div style="flex:auto;">
                <!-- Flexbox for logo, flexed to take up whatever space left in the flex container -->
                <img id="imgNPLogo" src="~/images/nplogo.gif" />
            </div>

            <!-- Flexbox for staff login -->
            <div>
                <!--when i clicked on "Login Button", it will do the action of routing to /Home/StaffLogin-->
                <!--in this form, i enter values for txtLoginID, txtPassword-->
                <!--after entering values and clicking submit button for this form, HttpPost happens
                    and values entered for txtLoginID, txtPassword will be passed into StaffLogin Action in Home Controller for StaffLogin to use-->
                <!--for form with post, i must declare method="post", then the action that will take place to know where to go after clicking submit button-->
                <form method="post" action="~/Home/StaffLogin">
                    <fieldset class="loginFieldset">
                        <legend>Staff Login</legend>
                        <label for="txtLoginID">Login ID:</label>
                        <input type="email" name="txtLoginID"
                               id="txtLoginID" required /><br />
                        <label for="txtPassword">Password:</label>
                        <input type="password" name="txtPassword"
                               id="txtPassword" style="width:100px"
                               required />

                        <!--submit button embeded here in a <form> tag, when clicking the button, action specified (routing to StaffLogin) will excecute-->
                        <input type="submit" id="btnStaffLogin"
                               class="myButton" value="Login" />





                        @*used to show error message stored in @TempData["Message"] only when there is error in authentication*@
                        <br />
                        <span style="color:red;">@TempData["Message"]</span>





                    </fieldset>
                </form>
            </div>



            <!-- Flexbox for student login -->
            <div>
                <fieldset class="loginFieldset">
                    <legend>Student Login</legend>
                    <p>
                        <a href="~/Home/StudentLogin" class="myButton">
                            Sign in with Google
                        </a>
                    </p>
                    <a href="~/Home/Privacy">Privacy Policy</a>
                </fieldset>
            </div>
        </div>

        <!-- 2nd row -->
        <div>
            <div style="text-align: center;">
                <p>

                    <br />

                    @*print the message for how long user logged in*@
                    @*this will be shown after user presses "Log out" button*@
                    <span>@TempData["TimeDiff"]</span>

                    <img id="imgLogo" src="~/images/logo.jpg"
                         style="width: 100%" />  <!--has its width set to 100% of its division container-->
                    <!--set width in % instead of absolut pixel size to allow image be scaled to different screen size-->
                </p>
            </div>
        </div>

    </div>
</body>
</html>
