﻿<!--This is the View of the "Privacy()" Action found in HomeController-->
<!--url to access this page: "/home/privacy"-->
<!--do not need to enter "/views" in url bc it is name of folder, they are not part of URL-->
<!--Because this is the View of an Action from the Controller called HomeController, it is under /Views/Home, where /Home is name of Controller where this View is returned from-->





@{
    ViewData["Title"] = "Privacy Policy";
}
<h4 class="PageTitle">Privacy Policy</h4>
<hr />
<p>
    If you log in with your Google account, NP Book Rental will collect your
    email address and your name registered with the account for
    authentication purpose, no other information will be collected from your
    social media account.
</p>
<p>
    We keep to our promise that we will not disclose your personal
    information to a third party unless it is by the law of the country to do
    for investigation purposes.
</p>
<p>
    if you need any clarification or assistance, please email to <a href="mailto:abc@npbook.com">System Adminstrator</a>.
</p>
