﻿@model web_S10222254.Models.Fine
@{
    ViewData["Title"] = "Fine Calculator";
}
<h4 class="PageTitle">Fine Calculator</h4>
<hr />

<form asp-controller="Fine" asp-action="Calculate" method="post">
    <fieldset class="FormContent">
        <legend>Input Data:</legend>


        @*implements a placeholder for display of valdation error message that dosent pertain to any field in the View*@
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="form-group row">
            <label asp-for="DueDate"
                   class="col-sm-4 col-form-label"></label>


            @*The tag helper a textbox with calendar for selecting the loan due date:*@
            @*use razor syntax to enforce that max date value that can be selected is the current date*@
            @*allow user to select the date from a calender*@
            <div class="col-sm-8 col-md-4">
                <input asp-for="DueDate" class="form-control" max="@DateTime.Today.ToString("yyyy-MM-dd")" />
            </div>
        </div>


        <div class="form-group row">
            <label asp-for="NumDaysOverdue" class="col-sm-4 col-form-label"></label>
            <div class="col-sm-8">
                <input asp-for="NumDaysOverdue" readonly class="form-control-plaintext" />
            </div>
        </div>


        <div class="form-group row">
            <label asp-for="FineRate" class="col-sm-4 col-form-label"></label>
            <div class="col-sm-8">
                <input asp-for="FineRate" readonly class="form-control-plaintext" />
                <span style="font-style:italic;">
                    (rate per day for the 1st book,
                    double for the 2nd, triple for the 3rd ...)
                </span>
            </div>
        </div>


        <div class="form-group row">
            <label asp-for="NumBooksOverdue"
                   class="col-sm-4 col-form-label"></label>
            <div class="col-sm-8 col-md-4">


                @*implements a textbox for entry of number of books overdue*@
                @*since NumBooksOverdue is int type we cannot use [Required] attribute to enforce entry of a number in this textbox
                    can only use "required" attribute to ensure user wont leave this textbox blank*@
                <input asp-for="NumBooksOverdue" class="form-control" required />


                @*and a placeholder for displaying any input data validation error message*@
                @*since we implmented that NumBooksOverdue can only be 1-10, violating the rule will cause custom error msg to 
                    appear in <span> tag*@
                <span asp-validation-for="NumBooksOverdue" class="text-danger"></span>


            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-8 offset-sm-4">
                <input type="submit" value="Compute"
                       class="btn btn-primary" />
            </div>
        </div>
    </fieldset>
</form>

<!--if ViewData["ShowResult"] is true show calulcated value-->
@if (Convert.ToBoolean(ViewData["ShowResult"]))
{
    <fieldset class="FormContent">
        <legend>Result:</legend>
        <div class="form-group row">
            <label asp-for="FineAmt" class="col-sm-4 col-form-label"></label>
            <div class="col-sm-8 form-control-plaintext">
                @Html.Display("FineAmt")
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">
                Breakdown of the Fine
            </label>
            <div class="col-sm-8 form-control-plaintext">


                @*ViewData["FineBreakdown"] contains fineBreakdown which is a list with HTML tage <br>, thus use .Raw to display everything in list in ViewData["FineBreakdown"] tgt with <br>*@
                @Html.Raw(ViewData["FineBreakdown"])


            </div>
        </div>
    </fieldset>
}
<script>
    // Calculate and display the days overdue when the due date is set
    document.getElementById("DueDate").onchange = function () {

        // The number of milliseconds in one day
        var oneday = 24 * 60 * 60 * 1000;
        var today = new Date();
        var dueDate = new Date(document.getElementById("DueDate").value);

        // Convert both dates to milliseconds
        var today_ms = today.getTime();
        var dueDate_ms = dueDate.getTime();

        // Calculate the difference in milliseconds
        var difference_ms = today_ms - dueDate_ms;

        // Convert back to days
        var numDayOverdue = Math.floor(difference_ms / oneday);

        // Assign the value to input field
        document.getElementById("NumDaysOverdue").value = numDayOverdue;
    };
</script>