﻿<!--this is a layout, layout is a template-->
<!--according to "_ViewStart.cshtml", "_Layout.cshtml" will run to show the user what "_Layout.cshtml" contains-->
@*Thus, "_Layout.cshtml" contains '@RenderBody()' to call and display the returned View found in the Controller*@
@*it also uses '@await Html.PartialAsync("_StaffMenu.cshtml")' to call a partial view and run the code found in the partial view*@





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NP Book Rental</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js">
    </script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
    </script>
</head>
<body>





    <header>

        @if (Context.Session.GetString("Role") == "Staff")
        {
            @await Html.PartialAsync("_StaffMenu.cshtml")
        }
        else
        {
            @await Html.PartialAsync("_StudentMenu.cshtml")
        }

    </header>





    <!-- Bootstrap container, centralise the container between margins -->
    <div class="container">
        <!-- 1st row -->
        <div class="row">
            <div class="col-sm-12">
                <!--"col-sm-12" means each column take full screen size and column size is adapted to small devices-->
                <p style="padding:2px 15px;">





                    @*declaring Session to be here bc i want to display user name and role in every page after login, and _Layout.cshtml is default layout of every View
                        unless a view overwrites the Layout setting of _Layout.cshtml in ViewStart.cshtml*@
                    @*display the user logged in Id and role obtained from
                        session state through the Context.Session.GetString() function*@
                    @*needed to add "@using Microsoft.AspNetCore.Http;" in _ViewImports.cshtml for this work*@
                    @{
                        //declaring the 2 local var that will be used for Session
                        string userId = "emptyUserID";
                        string userRole = "emptyUserRole";
                        string DateNow = "emptyDateNow";

                        //if stored string in "LoginID" of Session is not null, means user entered LoginID & password correctly, thus get string from "LoginID" of Session and store into local var userId
                        if (Context.Session.GetString("LoginID") != null)
                        {
                            userId = Context.Session.GetString("LoginID");
                        }

                        //if stored string in "Role" of Session is not null, means user entered LoginID & password correctly, thus get string from "Role" of Session and store into local var userRole
                        if (Context.Session.GetString("Role") != null)
                        {
                            userRole = Context.Session.GetString("Role");
                        }

                        //if stored string in "NowDate" of Session is not null, means user entered LoginID & password correctly, thus get string from "Role" of Session and store into local var userRole
                        if (Context.Session.GetString("NowDate") != null)
                        {
                            DateNow = Context.Session.GetString("NowDate");
                        }
                     }

                    Welcome,&nbsp;
                    <span style="font-weight:bold">@userId</span>&nbsp; (Role: @userRole).&nbsp You have logged in since @DateNow;



                    

                </p>
            </div>
        </div>





        <!-- 2nd row -->
        <div class="row">
            <div class="col-sm-12">

                @* Body serves as a placeholder in _Layout.cshtml. The layout View is a template to be inherited by a View,
        what is placed in the RenderBody placeholder section depends on which View is using the template*@

                @*RenderBody is only a placeholder to hold the content of a View, and then View will inherit everything else in the Layout (e.g.
        data stored in Session in layout)*@

                @*was stated in _ViewStart that Layout = "_Layout";, so all Views will have their default layout of _Layout.cshtml unless stated otherwise*@

                @*used to render the different Views in this specific spot unless layout for the View is stated otherwise*@

                @*Showing the view, just like an object instantiated from a derived class can use the properties and methods of the abstract class,
        a view can show the design of the layout it inherited*@

                @*in the View, View will inherit everything from _Layout.cshtml. View's HTML tags (e.g. <p>) lines will be held in @RenderBody() here,
                    and View will display/use everything inherited from _Layout.cshtml and display the HTML tag lines in @RenderBody() here*@

                @RenderBody()

            </div>
        </div>





    </div>
    <footer class="border-top small text-right text-muted">
        <!--contains a footer which display copy right message-->
        <p style="padding-right:15px; padding-top: 5px">
            WEB Practical Exercises - &copy;@DateTime.Today.Year
            School of ICT, Ngee Ann Polytechnic
        </p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!--good practice to append lib to avoid any excecutionof scrip-side scripts before the view has
    finished its rendering-->

    @RenderSection("Scripts", required: false)  <!--indicates all views using the layout is not mandatory to include a "Scripts" section-->
    <!-- scripts included on a certain view will not be rendered on other views that don’t required them-->

</body>
</html>