﻿<!--This is a View used to show returned View of Action "Calculate" from RentalController-->

@*use razor syntax "@model" to bind Rental class to the View*@
@*@model IS Rental, used to access all the public properties from Rental class under Rental.cs, NOT RentalDiscount class*@
@*Calculate.cshtml is calling the properties of Rental using @Model, and is calling the properties of previously declared ViewData data in the Controller and here using  @ViewData["NameOfKey"]*@
@*e.g., <p>@Model.Rental.LoanDate</p> can be used to access the public property LoanDate from Rental class and display in the View*@
@*name of file containing the class is not important. Only the classes declared within is important.
    For this case, Rental.cs is a file containing 2 declared classes Rental and RentalDiscount
    @model IS declared class Rental from the Rental.cs file. File name is ignored, only focus on name of declared class*@

@*to use @model, i have to first create an Action that returns an object,
    then @model will .NameOfTheClassOfReturnedObject in the View to display public properties of NameOfTheClassOfReturnedObject
    then i can call the public properties of NameOfTheClassOfReturnedObject in the View using "@Model.NameOfTheClassOfReturnedObject.PublicPropertyName"*@

@*using @model makes this a strongly typed View*@

@model web_S10222254.Models.Rental



<!--use ViewData to specify the page title: "Calculate" to be displayed on web browser-->
@*ViewData can be used to store data that is not within @model class's public properties*@
<!--setting the value "Rental Calculator" to the key "Title" of your ViewData-->
@*e.g. can use @ViewData["Title"] for <title> in the View*@

@{
    ViewData["Title"] = "Rental Calculator";
}





Rental Calculator
<hr />
<form asp-controller="Rental" asp-action="Calculate" method="post">
    <!--when we click a "submit"button, it will go to Rental Controller Calculate Action-->
    <div>Input Data:</div>
    <div>
        <label asp-for="LoanDate"></label>  <!--<label> element is used to associate a text label with a firm <input> field, better usability for phone users-->
        <!--here, it will be rendered with declared attributes, Name = "Loan Date", type = date, DataFormatString = "{0:dd-MMM-yyyy}"-->
        <input asp-for="LoanDate" readonly />
    </div>




    @*drop down for number of books*@
    <div>

        <!--was declared for NumBooks to have [Display] attribute of "Number of Books"-->
        <!--"<label asp-for="NumBooks"></label>" will be rendered as "<label>for="NumBooks">Number of Books</label>"-->
        <label asp-for="NumBooks"></label>

        <!--calling the data of NumBooks from Rental class through ViewData and displaying it here-->
        @*@ViewData["NumBooks"] contains a list of SelectListItem instances, with Value and Text as string(1-10)*@
        <!--each instance in @ViewData["NumBooks"] will be shown as a list of SelectListItem, and allow user to select as options-->
        <select asp-for="NumBooks" asp-items="@ViewData["NumBooks"] as List<SelectListItem>"></select>

    </div>





    <!--radio button for number of days-->
    <div>
        <label asp-for="NumDays"></label>
        <div class="form-group form-check-inline">

            <!--tag helper implements a radio buttons list-->
            <!--ViewData["NumDays"] contains a list of numbers 2, 5, 10, 20-->
            @foreach (var item in ViewData["NumDays"] as List<int>)
            {
                <label>
                    <input asp-for="NumDays" type="radio" value="@item" />  <!--<input type="radio" value="2" checked="checked" id="NumDays" name="NumDays" />-->
                    <span>@item</span>
                </label>
            }

        </div>
    </div>




    <div>
        <label asp-for="Discounts"></label>
        <div class="form-group form-check-inline">

            @for (int i = 0; i < Model.Discounts.Count; i++)
            {
                <!--each instance of RentalDiscount list contains properties: Description, Selected, DiscountPercent-->

                <!--@Model -- Rental class-->
                <!--@Model.Discounts -- List<RentalDiscount>-->
                <!--@Model.Discounts[i] -- instance of RentalDiscount list, contains properties: Description, DiscountPercent and bool Selected-->
                <!--@Model.Discounts[i].Description -- string Description of each instance of list of RentalDiscount-->



                @*in conclusion, asp-for tag helper here is used to link the <input>, <label> to a particular model in the model class
            for the <label>, data to be shown in a label is the razor code @Model.Discounts[i].Description*@



                <!--Discounts list contains properties Description, DiscountPercent & bool Selected of 2 objects for "Student Membership" and "Birthday Discount"-->
                <!--each checkbox must have unqiue name and id-->
                <!--tag helper "asp-for" uses the Discounts[i].Selected property to give each checkbox unqiue name and id-->
                <!--e.g. for the first instance of Discounts, it will have its own unqiue name and id since
        asp-for="Discounts[0].Selected"  ->  for="Discounts[0].Selected"-->
                <input asp-for="Discounts[i].Selected" type="checkbox" /> <!--will show a checkbox for each instance in List<RentalDiscount>-->



                <!--for this, for each label for bool Selected property of each instance of RentalDiscount list, will have
        String Description of each instance of list of RentalDiscount-->
                <!--continue e.g., for="Discounts[0].Selected" print its Description property as label. for the specific instance of List<RentalDiscount>, print its Description-->
                <label asp-for="Discounts[i].Selected">@Model.Discounts[i].Description</label>




                <!--to pass the selected option of user for calculation in the system, have to pass DiscountPercent again but hidden into the system-->

                <!-- 2 Hidden fields to get value at server-side and states of checkbox list -->
                <!--continue e.g., for="Discounts[0].Selected" read its DiscountPercent property as a hidden input, for the "Student Membership" discount,
        it has DiscountPercent of 20%-->
                <input type="hidden"
                       asp-for="Discounts[i].DiscountPercent" />



                <!--contains the discount description, for the Controller to read the description when the form is posted,
        and to pass back to the View for display in the label element when rental result is completed-->
                <!--continue e.g., for="Discounts[0].Selected" read its Description property as a hidden input-->
                <input type="hidden"
                       asp-for="Discounts[i].Description" />






                <!--code that will run after input, label and 2 hidden input code above is excecuted-->

                @*<input type="checkbox" id="Discounts_0__Selected" name="Discounts[0].Selected" value="true" />
            <label for="Discounts_0__Selected">Student Membership (20%)</label>
            <input type="hidden" id="Discounts_0__DiscountPercent" name="Discounts[0].DiscountPercent" value="20" />
            <input type="hidden" id="Discounts_0__Description" name="Discounts[0].Description" value="Student Membership (20%)" />

            <input type="checkbox" id="Discounts_1__Selected" name="Discounts[1].Selected" value="true" />
            <label for="Discounts_1__Selected">Birthday Discount (10%)</label>
            <input type="hidden" id="Discounts_1__DiscountPercent" name="Discounts[1].DiscountPercent" value="10" />
            <input type="hidden" id="Discounts_1__Description" name="Discounts[1].Description" value="Birthday Discount (10%)" />*@

            }
        </div>
    </div>

    <div>
        <input type="submit" value="Compute" />
    </div>
</form>



<!--used to display the rental computation result when ViewData["ShowResult"] is true-->
@if (Convert.ToBoolean(ViewData["ShowResult"]))  @*if data from ViewData["ShowResult"] is true, print the results*@ 
{
    <span>Result:</span>
    <div>
        <label asp-for="DueDate"></label>
        @Html.Display("DueDate")  @*use @Html.Display to display the computed result as plain text in the View*@
    </div>
    <div>
        <label asp-for="RentalRate"></label>
        @Html.Display("RentalRate")  @*Html.Display can display public properties of model class*@
        (per book per day)
    </div>
    <div>
        <label asp-for="RentalFee"></label>
        @Html.Display("RentalFee")
    </div>
    <div>
        <label asp-for="DiscountPercent"></label>
        @Html.Display("DiscountPercent")
    </div>
    <div>
        <label asp-for="AmountPayable"></label>
        @Html.Display("AmountPayable")
    </div>
}
