﻿@*IEnumerable is for read only and it doesn't allow random access*@
@* List does allow random access using integral index and allow addition or deletion of items*@
@*declaring IEnumerable in front of <web_S10222254.Models.Staff> tells the system to access the list of Staff returned from StaffController*@
@model IEnumerable<web_S10222254.Models.Staff>

    @*with our without IEnumerable i can access public properties of Model class declared, 
but without IEnumerable declared in front i will not be able to access returned list object under model class delcared*@

@*IEnumerable means a list of model objects is expected for the view, without it, it means a single model object to be expected.*@

@*if a view expects a list, the controller must pass a list containing model objects of the class declared*@ 



    @*partial view to display a list of staff record*@
    @if (Model.ToList().Count > 0)@*use .ToList() to convert from IEnumerable to list. list is from StaffController*@
    {
        <div class="table-responsive">
            <table id="viewStaff" class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Photo</th>
                        <th>Email Address</th>
                        <th>Employment Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.StaffId.ToString()</td>
                            <td>@item.Name</td>
                            <td>
                                @{ string imageFileName = item.Name + ".jpg"; }  @*imageFileName is name of image*@
                                <img src="~/images/@imageFileName"
                                     style="width:50px" />
                            </td>
                            <td>@item.Email</td>
                            <td>
                                @{ string employmentStatus;
                                    if (item.IsFullTime)
                                    {
                                        employmentStatus = "Full-Time";
                                    }
                                    else
                                    {
                                        employmentStatus = "Part-Time";
                                    }
                                }
                                @employmentStatus
                            </td>
                            <td>
                                @*calling the Staff Controller with {id} of @item.StaffId*@
                                <a asp-action="Edit" asp-controller="Staff"
                                   asp-route-id="@item.StaffId">Edit</a> |
                                <a asp-action="Details" asp-controller="Staff"
                                   asp-route-id="@item.StaffId">Details</a> |
                                <a asp-action="Delete" asp-controller="Staff"
                                   asp-route-id="@item.StaffId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <span style="color:red">No record found!</span>
    }
