﻿@model IEnumerable<web_S10222254.Models.Staff>
@{
    ViewData["Title"] = "View Staff";
}
<h4 class="PageTitle">View Staff</h4>

<!--href link, if user click on 'Create New Staff', will bring them to Create.cshtml-->
<p><a asp-action="Create">Create New Staff</a></p>

<!-- Add a partial view to display a list of staff records
 in a tabular format. -->
<partial name="~/Views/Staff/_ViewStaff.cshtml" model="@Model" />